@model FlexiPay.Models.ViewModel.UITarjeta

@{
    ViewBag.Title = "Detalle Tarjeta";
}

<h2>Detalle Tarjeta</h2>

<div>
    <h4>Tarjeta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TarjetaNumero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TarjetaNumero)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Volver", "Index", new { controller = "Tarjeta" }, new { @class = "btn btn-warning" })
</p>
